/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

/**
 * Basic styling
 */
body {
  font: 400 16px/1.5 -apple-system, "Helvetica Neue", "Arial", "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "Microsoft JhengHei", "WenQuanYi Micro Hei", sans-serif;
  color: #555555;
  background-color: #ffffff;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal; }

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure {
  margin-bottom: 15px; }

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle; }

/**
 * Figures
 */
figure > img {
  display: block; }

figcaption {
  font-size: 12px; }

/**
 * Lists
 */
ul, ol {
  margin-left: 30px; }

li > ul,
li > ol {
  margin-bottom: 0; }

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400; }

/**
 * Links
 */
a {
  color: #1E88E5;
  text-decoration: none; }
  a:visited {
    color: #166dba; }
  a:hover {
    color: #555555; }

/**
 * Blockquotes
 */
blockquote {
  color: #828282;
  border-left: 4px solid #e8e8e8;
  padding-left: 15px; }
  blockquote > :last-child {
    margin-bottom: 0; }

/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(1000px - (30px * 2));
  max-width: calc(1000px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px; }
  @media screen and (max-width: 800px) {
    .wrapper {
      max-width: -webkit-calc(1000px - (30px));
      max-width: calc(1000px - (30px));
      padding-right: 20px;
      padding-left: 20px; } }

/**
 * Clearfix
 */
.wrapper:after, .footer-col-wrapper:after {
  content: "";
  display: table;
  clear: both; }

/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle; }
  .icon > svg path {
    fill: #828282; }

/**
* Site header
*/
.site-header {
  transition: height 0.8s ease;
  -webkit-transition: height 0.8s ease;
  -moz-transition: height 0.8s ease;
  background: no-repeat center center;
  background-image: url("/img/header.jpg");
  background-size: cover;
  height: 400px;
  width: 100%;
  z-index: 20; }
  .site-header .site-title {
    opacity: 1;
    color: #4A4A4A;
    font-size: 72px;
    line-height: 56px;
    text-align: center;
    padding: 144px 0 144px 0;
    font-family: sans-serif;
    font-weight: 300; }
    .site-header .site-title .site-subtitle {
      opacity: 0.54;
      font-size: 16px; }
  @media screen and (max-width: 600px) {
    .site-header {
      background-image: none;
      background-color: #fff;
      height: 54px;
      border-bottom: 1px solid #e8e8e8;
      position: relative; }
      .site-header .site-title {
        padding: 18px 0 0 20px;
        font-size: 20px;
        line-height: 24px;
        text-align: left; }
        .site-header .site-title .site-subtitle {
          display: none; } }

.header-icon, .header-icon:visited {
  color: #212121;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 13px; }
  @media only screen and (min-width: 800px) {
    .header-icon:hover, .header-icon:visited:hover {
      text-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
      text-decoration: none; } }

.header-fixed {
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  z-index: 50;
  position: fixed;
  width: 100%;
  font-size: 24px;
  line-height: 48px;
  height: 54px;
  background-color: rgba(255, 255, 255, 0.95);
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 20px;
  top: -54px;
  opacity: 0; }
  @media screen and (max-width: 600px) {
    .header-fixed {
      display: none; } }

.is-visible {
  top: 0px;
  opacity: 1;
  display: block; }

.site-nav {
  z-index: 20;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 1px; }
  .site-nav ul {
    margin-right: 15px;
    list-style-type: none;
    overflow: hidden;
    float: right; }
    .site-nav ul li {
      padding: 13px 20px;
      display: inline-block; }
  .site-nav .menu-icon {
    display: none; }
  @media screen and (max-width: 600px) {
    .site-nav {
      position: absolute;
      top: 9px;
      right: 15px;
      background-color: #ffffff;
      border: 1px solid #e8e8e8;
      border-radius: 5px;
      text-align: left; }
      .site-nav ul {
        margin: 10px 30px 10px 10px; }
        .site-nav ul li {
          display: block;
          padding: 0 10px 3px 10px; }
          .site-nav ul li a {
            color: #434343; }
      .site-nav .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center; }
        .site-nav .menu-icon > svg {
          width: 18px;
          height: 15px; }
          .site-nav .menu-icon > svg path {
            fill: #424242; }
      .site-nav .trigger {
        display: none; }
      .site-nav .show {
        display: block; } }
  .site-nav .page-link {
    color: #555555;
    line-height: 1.5; }
    .site-nav .page-link:not(:last-child) {
      margin-right: 20px; }

/**
* Site footer
*/
.site-footer {
  border-top: 1px solid #e8e8e8;
  padding: 30px 0;
  background-color: #ffffff; }

.footer-heading {
  font-size: 18px;
  margin-bottom: 15px; }

.col1-list,
.col2-list,
.col3-list {
  list-style: none;
  margin-left: 0; }

.footer-col-wrapper {
  font-size: 15px;
  margin-left: -15px; }
  .footer-col-wrapper a {
    color: #555555; }

.footer-col {
  float: left;
  margin-bottom: 15px;
  padding-left: 15px; }

.footer-col-1 {
  width: -webkit-calc(33% - (30px / 2));
  width: calc(33% - (30px / 2)); }

.footer-col-2 {
  width: -webkit-calc(33% - (30px / 2));
  width: calc(33% - (30px / 2)); }

.footer-col-3 {
  width: -webkit-calc(33% - (30px / 2));
  width: calc(33% - (30px / 2));
  color: #828282; }

@media screen and (max-width: 800px) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (30px / 2));
    width: calc(50% - (30px / 2)); }

  .footer-col-3 {
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2)); } }
@media screen and (max-width: 600px) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2)); } }
/**
* Page content
*/
.page-content {
  z-index: 5;
  padding: 70px 0;
  margin-bottom: 60px; }
  @media screen and (max-width: 600px) {
    .page-content {
      padding-top: 20px; } }

.page-heading {
  font-size: 20px; }

@media only screen and (min-width: 800px) {
  .slide {
    text-decoration: none;
    display: inline-block; }

  .slide:after {
    content: "";
    display: block;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
    -webkit-transition: width .5s ease, background-color .5s ease;
    -moz-transition: width .5s ease, background-color .5s ease;
    margin: auto; }

  .slide:hover:after {
    width: 100%;
    background: #607D8B; } }
.post-list {
  color: #000;
  margin-left: 30px;
  list-style: none; }
  @media screen and (max-width: 600px) {
    .post-list {
      margin: 0 0 0 0; } }
  .post-list > li {
    background-color: #ffffff; }
    .post-list > li .post-data {
      color: #939393;
      font-weight: normal; }
      .post-list > li .post-data h1, .post-list > li .post-data h2, .post-list > li .post-data h3, .post-list > li .post-data h4, .post-list > li .post-data h5 {
        font-size: 16px; }
      .post-list > li .post-data img {
        max-width: 500px; }
        @media screen and (max-width: 800px) {
          .post-list > li .post-data img {
            max-width: 100%; } }
    .post-list > li .post-link {
      text-decoration: none;
      transition: all 0.5s ease;
      color: #4a4a4a;
      font-weight: bold; }
      @media only screen and (min-width: 800px) {
        .post-list > li .post-link:hover {
          color: #607D8B; } }
    .post-list > li .post-meta {
      font-size: 14.4px;
      margin-bottom: 50px;
      color: #9d9d9d;
      padding-bottom: 50px;
      border-bottom: 1px solid #e8e8e8; }
      .post-list > li .post-meta a {
        margin-right: 5px;
        transition: all 0.5s ease;
        color: #9d9d9d; }
        @media only screen and (min-width: 800px) {
          .post-list > li .post-meta a:hover {
            color: #607D8B; } }
      @media screen and (max-width: 600px) {
        .post-list > li .post-meta {
          margin-bottom: 30px;
          padding-bottom: 30px; } }

/**
* Posts
*/
.post {
  padding: 30px 45px 36px 45px; }
  @media only screen and (max-width: 800px) {
    .post {
      padding: 30px 10px 30px 10px; } }
  @media screen and (max-width: 600px) {
    .post {
      padding: 0 0 0 0; } }

.post-header {
  margin-bottom: 30px; }

.post-title {
  font-size: 36px;
  font-weight: bold;
  line-height: 1; }
  @media screen and (max-width: 800px) {
    .post-title {
      font-size: 32px; } }

.post-content {
  margin-bottom: 30px; }
  .post-content a {
    overflow: hidden; }
  .post-content ul {
    list-style: disc; }
  .post-content h2, .post-content h3, .post-content h4, .post-content h5 {
    margin-top: 30px; }
  .post-content h2 {
    font-size: 26px;
    font-weight: bold; }
    @media screen and (max-width: 800px) {
      .post-content h2 {
        font-size: 22px; } }
  .post-content h3 {
    font-size: 22px;
    font-weight: bold; }
    @media screen and (max-width: 800px) {
      .post-content h3 {
        font-size: 18px; } }
  .post-content h4 {
    font-size: 18px;
    font-weight: bold; }
    @media screen and (max-width: 800px) {
      .post-content h4 {
        font-size: 14px; } }
  .post-content h5 {
    font-size: 14px;
    font-weight: bold; }
    @media screen and (max-width: 800px) {
      .post-content h5 {
        font-size: 12.5px; } }
  .post-content img {
    margin: auto;
    overflow-x: auto; }
  .post-content .toc {
    font-size: 14.4px; }
    .post-content .toc ul {
      list-style: decimal; }

.about-page {
  text-align: center;
  margin-top: 150px;
  margin-bottom: 150px; }
  .about-page img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px; }

/**
* sidebar
*/
.side-bar {
  float: right;
  width: 240px;
  margin-bottom: 90px; }
  @media screen and (max-width: 600px) {
    .side-bar {
      width: 100%;
      float: none;
      margin-bottom: 30px;
      margin-right: 30px; } }

/**
* Tags
*/
.tags {
  color: #878787;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e8e8e8; }
  .tags h3 {
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 16px; }
  .tags ul {
    font-size: 13px;
    text-transform: capitalize;
    list-style: none;
    margin: 0 0 0 0; }
    .tags ul li {
      margin: 1px 5px 11px 1px;
      display: inline-block; }
      .tags ul li a {
        color: #BDBDBD;
        transition: all 0.5s ease;
        border: 1px solid #BDBDBD;
        -webkit-border-radius: 1000px;
        -moz-border-radius: 1000px;
        border-radius: 1000px;
        padding: 4.5px 11px 4.5px 11px; }
        @media only screen and (min-width: 800px) {
          .tags ul li a:hover {
            color: #607D8B;
            border: 1px solid #607D8B; } }
  @media screen and (max-width: 600px) {
    .tags {
      padding-top: 10px;
      border-bottom: 2px solid #e8e8e8; }
      .tags h3 {
        display: none; } }

.hidden {
  display: none !important;
  visibility: hidden !important; }

.blog-list-container {
  margin-bottom: 0;
  margin-right: 260px;
  padding: 30px 0 30px 0;
  border-bottom: 1px solid #e3e3e3; }
  .blog-list-container ul {
    list-style: none;
    margin: 0 0 0 0; }
    .blog-list-container ul li {
      margin: 5px 0 5px 0; }
      .blog-list-container ul li .blog-date {
        display: inline-block;
        font-size: 11.2px;
        color: #828282;
        margin-left: 5px; }
  @media only screen and (min-width: 800px) {
    .blog-list-container .slide:after {
      height: 1px; }
    .blog-list-container .slide:hover:after {
      background: #a2a2a2; }
    .blog-list-container a {
      text-decoration: none;
      transition: all 0.5s ease; } }
  .blog-list-container a {
    color: #555555; }
  .blog-list-container .single-tag {
    color: #607D8B;
    font-weight: bold;
    text-transform: capitalize; }
  @media screen and (max-width: 600px) {
    .blog-list-container {
      margin: 0 0 30px 0;
      padding: 0 0 30px 0; } }

table {
  overflow-x: auto;
  display: block;
  min-width: 300px;
  font-size: 14px;
  border-collapse: collapse;
  margin: 20px 0 0;
  padding: 0; }

table tr {
  border-top: 1px solid #ccc;
  background-color: #fff;
  margin: 0;
  padding: 0; }

table tr:nth-child(2n) {
  background-color: #f8f8f8; }

table tr th[align="center"], table tr td[align="center"] {
  text-align: center; }

table tr th, table tr td {
  border: 1px solid #ccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px; }

.not-found {
  text-align: center; }
  .not-found a {
    font-size: 20px; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.pagination:before, .pagination:after {
  content: " ";
  display: table; }
.pagination:after {
  clear: both; }
.pagination li {
  display: none; }
  .pagination li .pagination-item {
    display: block;
    speak-number: continuous; }
.pagination .current-page,
.pagination .previous,
.pagination .next {
  display: inline-block; }
.pagination .previous a:before {
  content: "<"; }
.pagination .next a:after {
  content: ">"; }
@media (min-width: 320px) {
  .pagination .pages-indicator.pages-indicator--active {
    display: inline-block; }
  .pagination .first,
  .pagination .last {
    display: inline-block; }
  .pagination .offset-1 {
    display: inline-block; }
  .pagination .pages-indicator--offset-2,
  .pagination .pages-indicator--offset-3,
  .pagination .pages-indicator--offset-4,
  .pagination .pages-indicator--offset-5,
  .pagination .pages-indicator--offset-6,
  .pagination .pages-indicator--offset-7 {
    display: inline-block; } }
@media (min-width: 500px) {
  .pagination .offset-1 {
    display: inline-block; }
  .pagination .pages-indicator--offset-2 {
    display: none; } }
@media (min-width: 600px) {
  .pagination .offset-2 {
    display: inline-block; }
  .pagination .pages-indicator--offset-3 {
    display: none; } }
@media (min-width: 768px) {
  .pagination .offset-3 {
    display: inline-block; }
  .pagination .pages-indicator--offset-4 {
    display: none; } }
@media (min-width: 768px) {
  .pagination .offset-4 {
    display: inline-block; }
  .pagination .pages-indicator--offset-5 {
    display: none; } }
@media (min-width: 768px) {
  .pagination .offset-5 {
    display: inline-block; }
  .pagination .pages-indicator--offset-6 {
    display: none; } }
@media (min-width: 768px) {
  .pagination .offset-6 {
    display: inline-block; }
  .pagination .pages-indicator--offset-7 {
    display: none; } }
@media (min-width: 768px) {
  .pagination .offset-7 {
    display: inline-block; }
  .pagination .pages-indicator--offset-8 {
    display: none; } }
@media (min-width: 768px) {
  .pagination .offset-8 {
    display: inline-block; }
  .pagination .pages-indicator--offset-9 {
    display: none; } }

ul.pagination {
  padding: 0;
  margin: 16px 0;
  text-align: center; }
  ul.pagination li {
    margin: 0 3px;
    padding: 0;
    list-style: none; }
    ul.pagination li.page .pagination-item {
      text-decoration: none;
      width: 38px;
      height: 38px;
      border-radius: 38px;
      line-height: 38px;
      background: #eeeeee;
      color: #333;
      box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.05); }
    ul.pagination li.page a:hover {
      background: #ddd; }
    ul.pagination li.page.current-page .pagination-item {
      background: #607D8B;
      box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
      color: white; }
    ul.pagination li.page.previous .pagination-item, ul.pagination li.page.next .pagination-item {
      font-size: 12px; }

pre {
  counter-reset: line-numbering;
  border-radius: 0;
  background: #F7F7F7;
  padding: 0;
  line-height: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  white-space: pre;
  overflow-x: auto;
  word-break: inherit;
  word-wrap: inherit;
  padding-right: 30px; }

pre,
code {
  font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace;
  font-size: 14px; }

code.inline-code {
  font-size: 12px;
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  color: #607D8B;
  background: #f7f7f7;
  border: 1px solid #e1e1e7;
  border-radius: 2px;
  padding: 2px 4px 2px 4px;
  margin: 1px 1px 1px 1px; }

pre a::before {
  content: counter(line-numbering);
  counter-increment: line-numbering;
  padding-right: 1em;
  /* space after numbers */
  width: 25px;
  text-align: right;
  opacity: 0.7;
  display: inline-block;
  color: #2d2d2d;
  background: #eee;
  margin-right: 16px;
  padding: 2px 10px;
  font-size: 14px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

pre a:first-of-type::before {
  padding-top: 10px; }

pre a:last-of-type::before {
  padding-bottom: 10px; }

pre a:only-of-type::before {
  padding: 10px; }

pre {
  overflow-x: auto; }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0; }

.highlight pre code * {
  white-space: nowrap; }

.highlight pre code {
  white-space: pre; }

.highlight {
  color: #657b83 !important;
  background-color: #fdfdfd !important; }

.highlight .err {
  color: #dc322f !important;
  background-color: #eee8d5 !important; }

.highlight .cp {
  color: #93a1a1 !important; }

.highlight .cs {
  color: #93a1a1 !important; }

.highlight .gd {
  background-color: #fdd !important; }

.highlight .gd .x {
  background-color: #faa !important; }

.highlight .ge {
  font-style: italic !important; }

.highlight .gi {
  background-color: #dfd !important; }

.highlight .gi .x {
  background-color: #afa !important; }

.highlight .go {
  color: #657b83 !important; }

.highlight .gu {
  color: #d33682 !important; }

.highlight .gr, .highlight .gt {
  color: #d33682 !important; }

.highlight .gh {
  color: #93a1a1 !important; }

.highlight .gp {
  color: #93a1a1 !important; }

.highlight .nb {
  color: #859900 !important; }

.highlight .ni {
  color: #d33682 !important; }

.highlight .nt {
  color: #268bd2 !important; }

.highlight .w {
  color: #93a1a1 !important; }

.highlight .sr {
  color: #859900 !important; }

.highlight .ss {
  color: #2aa198 !important; }

.highlight .c, .highlight .cm, .highlight .c1 {
  color: #93a1a1 !important; }

.highlight .k {
  color: #859900 !important; }

.highlight .kt {
  color: #b58900 !important; }

.highlight .bp {
  color: #586e75 !important; }

.highlight .nn {
  color: #586e75 !important; }

.highlight .nc {
  color: #b58900 !important; }

.highlight .m, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .mo, .highlight .il {
  color: #2aa198 !important; }

.highlight .s, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .se, .highlight .sh, .highlight .si, .highlight .sx, .highlight .s1 {
  color: #2aa198 !important; }

.highlight .na, .highlight .nv {
  color: #2aa198 !important; }

.highlight .no {
  color: #b58900 !important; }

.highlight .vc, .highlight .vg, .highlight .vi {
  color: #268bd2 !important; }

.highlight .ne,
.highlight .nf {
  color: #dc322f !important; }
