---
layout: default
---

<div class="home">
    {% assign posts=site.posts | where:"lang", page.lang %}
    <ul class="post-list">
        <!-- This loops through the paginated posts -->
        {% for post in paginator.posts %}
        <li>
            <h2><a class="slide post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
            <div class="post-data">
                {{ post.excerpt | truncatewords: 50 }}
            </div>
            <div class="post-meta">
                发布于{{ post.date | date: "%Y年%-m月%-d号" }}&nbsp
                {% assign sorted_tags = post.tags | sort %}
                {% for tag in sorted_tags %}
                <a href="/cn/tags/#{{ tag }}">{{ tag }}</a>
                {% endfor %}
            </div>
        </li>
        {% endfor %}
    </ul>
    {% include pagination.html %}
</div>
