---
layout: default
---

{% include sidebar.html %}

<div class="home">
  <ul class="post-list">
    <!-- This loops through the paginated posts -->
    {% for post in paginator.posts %}
    <li>
      <h2><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
      <div class="post-data">
        {{ post.excerpt }}
      </div>
      {{ post.tag }}
      {% if post.content contains site.excerpt_separator %}
      <a class="post-more" href="{{ post.url | prepend: site.baseurl }}">Read more</a>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
  {% include pagination.html %}


</div>
