---
layout: default
title: Tags
permalink: /tags/
---

{% include sidebar.html %}

{% for tag in site.tags %}
{% assign t = tag | first %}
{% assign posts = tag | last %}
<div class="blog-list-container" id="{{ t }}-container">
  {% assign numPosts = posts | size | divided_by: 2 %}
  <span class="single-tag">{{ t }} ({{ numPosts }})</span>
  <ul class="blog-list">
    {% for post in posts %}
    {% if post.tags contains t %}
    {% if post.language == page.language %}
    <li>
      {% if page.is_default_language %}
      <a class="slide" href="{{ post.url }}">{{ post.title }}</a>
      <div class = "blog-date">
        {{ post.date | date: "%b %-d, %Y" }}
      </div>
      {% else %}
      <a class="slide" href="{{ post.url }}">{{ post.title }}</a>
      <div class = "blog-date">
        {{ post.date | date: "%Y年%-m月%-d号" }}
      </div>
      {% endif %}
    </li>

    {% endif %}
    {% endif %}
    {% endfor %}
  </ul>
</div>

<script>
if(window.location.hash) {
  var tag = window.location.hash.split('#')[1];
  filter(tag);
}
</script>

{% endfor %}
