<footer class="site-footer">

    <div class="wrapper">

        <h2 class="footer-heading">{{ site.title }}</h2>

        <div class="footer-col-wrapper">
            <div class="footer-col footer-col-1">
                <ul class="col1-list">
                    ʕ •ᴥ•ʔ
                    <li>
                        {% if page.is_default_language %}
                        <a href="/tags">Tags</a>
                        {% else %}
                        <a href="/cn/tags">标签们</a>
                        {% endif %}
                    </li>
                    <li>
                        {% if page.is_default_language %}
                        <a href="/about">About</a>
                        {% else %}
                        <a href="/cn/about">关于我</a>
                        {% endif %}
                    </li>
                </ul>
            </div>

            <div class="footer-col footer-col-2">
                <ul class="col2-list">
                    <li>
                        {% include icon-email.html %}
                    </li>
                    <li>
                        {% include icon-rss.html %}
                    </li>
                    {% if site.github_username %}
                    <li>
                        {% include icon-github.html username=site.github_username %}
                    </li>
                    {% endif %}
                </ul>
            </div>

            <div class="footer-col footer-col-3">
                <ul class="col3-list">
                    <li>© 2015 PwzXxm All Rights Reserved.</li>
                </ul>
            </div>
        </div>

    </div>

</footer>
<script src="/js/jquery.min.js"></script>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
    inlineMath: [ ['$','$'], ["\\(","\\)"] ],
    displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
    processEscapes: true
});
</script>
<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    MathJax.Hub.Config ({
        "HTML-CSS": { scale: 90 }
    });
</script>
<script>
var h = $(window).height();
var h2 = $(document).height();
if (h2-h > 400 && ($(window).width() > 600)) {
    $(window).scroll(function() {
        if ($(this).scrollTop() > 54){
            if(!($('.header-fixed').hasClass("is-visible"))) {
                $('.header-fixed').addClass("is-visible");
                $('.header-fixed').css("z-index", "50");
            }
        } else {
            $('.header-fixed').animate({opcaity:'0'}, "slow");
            $('.header-fixed').removeClass("is-visible");
            $('.header-fixed').delay(500).animate({top:'0'}, "slow")
            $('.header-fixed').css("z-index", "-1");
        }
    });
}

$(document).ready(function(){
    $('a#button').click(function(){
        $('.trigger').toggleClass("show");
    });
});

$(document).on('click', function(event) {
    if (!$(event.target).closest('.site-nav').length) {
        if ($('.trigger').hasClass("show")) {
            $('.trigger').toggleClass("show");
        }
    }
});
</script>
<script>
(function(){
    var bp = document.createElement('script');
    bp.src = '//push.zhanzhang.baidu.com/push.js';
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
<script id="dsq-count-scr" src="//pwzxxm.disqus.com/count.js" async></script>
