<header class="site-header glass">

  <div class="wrapper">

    {% if page.is_default_language %}
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    {% else %}
    <a class="site-title" href="{{ site.baseurl }}/cn">{{ site.title }}</a>
    {% endif %}

    <nav class="site-nav">
      <span class="english">
      {% if page.is_default_language %}
      <a href="{{ page.url_no_language }}" style="color: #cdcdcd">EN</a>
      {% else %}
      <a href="{{ page.url_no_language }}">EN</a>
      {% endif %}
    </span>
    <span class="chinese">
      {% if page.is_default_language %}
      <a href="{{ site.baseurl }}/cn{{ page.url }}">中</a>
      {% else %}
      <a href="{{ page.url }}" style="color: #cdcdcd">中</a>
      {% endif %}
    </span>
    </nav>

  </div>

</header>
