<div class="side-bar">
  <div class="tags">
    <h3>
      {% if page.is_default_language %}
      Featured tags
      {% else %}
      标签
      {% endif %}
    </h3>
    <ul>
      {% assign sorted_tags = site.tags | sort %}
      {% for tag in sorted_tags %}
      {% assign t = tag | first %}
      {% assign posts = tag | last %}
      <li>
        {% if page.is_default_language %}
        <a href="/tags/#{{ t }}">{{ t }}</a>
        {% else %}
        <a href="/cn/tags/#{{ t }}">{{ t }}</a>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
