/**
* Site header
*/
.site-header {
  border-bottom: 3px solid $grey-color-light;
  background-color: $header-bg-color;
  min-height: 56px;

  a {
    color: #000000;
  }
  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  font-size: 26px;
  font-weight: 300;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
}

.site-nav {
  float: right;
  line-height: 56px;

  .chinese {
    margin-left: 10px;
  }

/*
  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
  */
}



/**
* Site footer
*/
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
  background-color: $background-color;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: $spacing-unit / 2;
}

.col1-list,
.col2-list,
.col3-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  a {
    color: $text-color;
  }
  font-size: 15px;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

// original percentage: 35 20 45
.footer-col-1 {
  width: -webkit-calc(33% - (#{$spacing-unit} / 2));
  width:         calc(33% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(33% - (#{$spacing-unit} / 2));
  width:         calc(33% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(33% - (#{$spacing-unit} / 2));
  width:         calc(33% - (#{$spacing-unit} / 2));
  color: $grey-color;
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
* Page content
*/
.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  margin-right: 330px;
  margin-bottom: $spacing-unit*3;
  @include media-query($on-palm) {
    margin-right: 0px;
  }


  list-style: none;

  a {
    color: #555555;
  }

  > li {
    margin-bottom: $spacing-unit*1.5;
    h2 {
      margin-bottom: 2px;
    }
    .post-data {
      color: $grey-color;
      margin-top: 10px;
      margin-bottom: -15px;
      a {
        color: #2273b6;
      }
      h1, h2, h3, h4{
          font-size: $base-font-size;
      }
    }

    .post-link {
      display: block;
    }

    .post-meta {
      font-size: $small-font-size;
      a {
        background-color: #EEEEEE;
        padding: 0 5px 0 5px;
        margin: 2px 0 2px 0;
        color: #2273b6;
      }
    }
    .post-more {
      font-size: $base-font-size*0.8;
      color: $grey-color;
    }
  }
}



/**
* Posts
*/
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 36px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 32px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  ul {
    list-style: disc;
  }

  h2 {
    font-size: 26px;
    margin-top: $spacing-unit;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h3 {
    font-size: 20px;
    margin-top: $spacing-unit;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }

  h4 {
    font-size: 14px;
    font-weight: bold;
    margin-top: $spacing-unit;

    @include media-query($on-laptop) {
      font-size: 10px;
    }
  }
}

/**
* sidebar
*/
.side-bar {
  float: right;
  width: 240px;
  margin-bottom: $spacing-unit*3;
  @include media-query($on-palm) {
    display: none;
    margin-bottom: $spacing-unit;
  }
}

.aboutme {
  width: 240px;
  height: 160px;
  position: relative;
  margin-bottom: $spacing-unit;
}

.about-img {
  position: absolute;
  height: 100px;
  width: 100px;
  margin-top: -80px;
  margin-left: 70px;
}

.about-above {
  height: 80%;
  width: 100%;
  background-image: url("/img/about-bg.jpg");
  background-size: 100% 100%;
}

.about-below {
  height: 20%;
  width: 100%;
  background-color: #ffffff;
}

.about-page {
  text-align: center;
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: $spacing-unit;
  }
  margin-top: $spacing-unit * 5;
  margin-bottom: $spacing-unit * 5;
}

/**
* Tags
*/


.tags {
  a {
    color: $text-color;
  }
  ul {
    margin-top: -10px;
    list-style: none;
    margin-left: 0;
    li {
      display: inline-block;
      background-color: #EEEEEE;
      padding: 0 5px 0 5px;
      margin: 2px 0 2px 0;
      a {
        color: #2273b6;
      }
    }
  }


}

.hidden {
  display: none!important;
  visibility: hidden!important;
}

.blog-list-container {
  ul {
    list-style: none;
    margin-left: $spacing-unit;
    margin-bottom: $spacing-unit;
    li {
      margin: 5px 0 5px 0;
    }
  }
  a {
    color: $text-color;
  }
  .single-tag {
    background-color: #EEEEEE;
    padding: 0 5px 0 5px;
    margin: 2px 0 2px 0;
    color: #2273b6;
  }
}


// Table
table
{
  font-size: 14px;
	border-collapse:collapse;
	margin:20px 0 0;
	padding:0;
}

table tr
{
	border-top:1px solid #ccc;
	background-color:#fff;
	margin:0;
	padding:0;
}

table tr:nth-child(2n)
{
	background-color:#f8f8f8;
}
table tr th[align="center"], table tr td[align="center"] {
	text-align:center;
}
table tr th, table tr td
{
	border:1px solid #ccc;
	text-align:left;
	margin:0;
	padding:6px 13px;
}

.not-found {
  text-align: center;
  a {
      font-size:20px;
  }
}